@import "reset";

* {
  box-sizing: border-box;
}

body {
  text-align: center;
}

.grid {
  border: 1px solid #ddd;
  display: inline-block;
  padding: 1px;
}

.row {
  margin: 0;
  height: 20px;
}

.cell {
  border: 1px solid #ddd;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.snakeBody {
  background-color: red;
}

// .food {
//   background-color: green;
// }

h1, h2 {
  color: black;
  font-size: 50px;
  font-family: 'Permanent Marker', cursive;
  background-color: white;
  max-width: 700px;
  margin: 20px auto;
}

.snake-icon {
  color: white;
  height: 300px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 10px;
}

.license {
  font-size: 10px;
}

.food-icon {
  height: 18px;
  width: 18px;
}
