@import "reset";

* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-image: url('/images/snake-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.grid {
  border: 1px solid #ddd;
  display: inline-block;
  padding: 1px;
  // background-image: linear-gradient(to bottom, rgba(255,255,0,0.75), rgba(66,179,244,0.95)),url('/images/snake.png');
  background-image: linear-gradient(to bottom, rgba(255,255,0,0.75), rgba(66,179,244,0.95));
  background-size: cover;
}

.row {
  margin: 0;
  height: 20px;
}

.cell {
  border: 1px solid #ddd;
  width: 20px;
  height: 20px;
  display: inline-block;
  opacity: 1;
}

.snakeBody {
  background-color: red;
}
.snakeBody2 {
  background-color: blue;
}

h1, h2, .score {
  color: black;
  font-size: 50px;
  font-family: 'Permanent Marker', cursive;
  max-width: 900px;
  margin: 20px auto;
}

.header {
  margin-top: 50px;
}

.snake-icon {
  color: white;
  height: 300px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 10px;
}

.license {
  font-size: 10px;
}

.food-icon {
  height: 19px;
  width: 19px;
  animation: shake 3s linear infinite;
}
.bomb-icon {
  height: 19px;
  width: 19px;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-2px, -3px) rotate(-1deg); }
    20% { transform: translate(-4px, 0px) rotate(1deg); }
    30% { transform: translate(4px, 3px) rotate(0deg); }
    40% { transform: translate(2px, -2px) rotate(1deg); }
    50% { transform: translate(-2px, 3px) rotate(-1deg); }
    60% { transform: translate(-4px, 2px) rotate(0deg); }
    70% { transform: translate(4px, 2px) rotate(-1deg); }
    80% { transform: translate(-2px, -2px) rotate(1deg); }
    90% { transform: translate(2px, 3px) rotate(0deg); }
    100% { transform: translate(2px, -3px) rotate(-1deg); }
}
